*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99aab5;
}

.quiz-box{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 400px;

}

.question{
    text-align: center;
    
}

.reponse-list {
    list-style: none;
    margin: 20px 0;
}

.reponse-list li{
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #bfc5c969;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.7s all;
}

.reponse-list li:hover{
    background-color: #99aab569;
}
.reponse-list li.success{
    background-color: #4BB543 !important;
}

.reponse-list li.echec{
    background-color: #ff3333 !important;
}

.reponse-list li.clicked{
    background-color: #7289da;
}

.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-btn{
    background-color: #7289da;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.7s all;
}

.next-btn:hover{
    background-color: #5b78df;
}

.note{
    color: #ff3333;
}

.resultat{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 1px 1px 6px rgba(0, 0 , 0, 25%);
}

.resultat h3{
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 1.5em;
}

.resultat p {
    font-size: 1.4em;
    color: #7289da;
    font-weight: bold;
}

.reset{
    margin-top: 25px;
}

.box-quiz{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 25px;
}



.box-it{
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0 , 0, 25%);
    position: relative;
    overflow: hidden;
}
.box-it img{
    width: 100%;
    height: 100%;
}
.box-it .image{
    position: relative;
}
.box-it .image::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0 , 0, 25%);
}
.box-it .footer p{
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer{
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

/* .footer::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 79px 0 36px 430px;
    border-color: transparent transparent transparent white;
    top: -80px;
    left: 0;
    transition: 0.5s;
} */


.quiz-btn{
    background-color: #7289da;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.7s all;
}

.quiz-btn:hover{
    background-color: #5b78df;
}